.custom-siderclient {
  background-color: white !important;
  flex: 0 0 256px !important;
  max-width: 256px !important;
  min-width: 256px !important;
  width: 256px !important;
}

.custom-headerclient {
  background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
}
